.ready {
    width: 908px;
    height: 241px;
    margin: auto;
    margin-bottom: 149px;
}

.ready-title {
    width: 500px;
    height: 131px;
    margin: auto;
    margin-bottom: 60px;
    color: #02073E;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -2px;

}

.ready-learn {
    width: 205px;
    height: 50px;
    border-radius: 5px;
    background: #FCF2E8;
    color: #EF9E48;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}