.footer {
    border-top: 3px solid #E5ECF4;
    width: 900px;
    height: 301px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer-title {
    color: #0F2137;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500px;
    line-height: 30px;
    letter-spacing: -0.5px;
    margin-bottom: 28px;
}

.footer-description {
    width: 164px;
    height: 175px;
    color: #02073E;
    // font-family: 'Roboto', sans-serif;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 250%;
    opacity: 0.8;
}


.footer-1-description-one {}